</body>
<footer class="footer-content">
  <!-- <h2>Quick Links</h2> -->
  <div class="footer-section quick-links footer-bottom-section">
    <ul style="  list-style-type: none;" class="ordered-list-footer">
      <li>
   
          <p><span class="material-symbols-outlined">mail</span> aydagonzalez15@gmail.com</p>
    
      </li>
      <li> <a href="https://www.linkedin.com/in/aydagonzalez15/">LinkedIn</a> <br></li>
      <li> <a href="https://github.com/aydagonzalez15">github</a> <br></li>
    </ul>
  </div>

  <!-- <div class="footer-bottom-last-item"> -->
    <h5> Libros by Ayda Gonzalez &copy; 2024 </h5>
  <!-- </div> -->

</footer>


</html>