</body>
<footer class="footer-content">
    <div class="footer-section quick-links footer-bottom">
        <h2>Quick Links</h2>
        <p><span class="material-symbols-outlined">mail</span> aydagonzalez15@gmail.com</p>
        <a href="https://www.linkedin.com/in/aydagonzalez15/">LinkedIn</a> <br>
        <a href="https://github.com/aydagonzalez15">github</a> <br>
    </div>
   
    <div class="footer-bottom-last-item">
        &copy; 2024 Libros by AG
    </div>



</footer>


</html>