</body>
<footer class="footer-content">


        <div class="footer-section quick-links footer-bottom">
            <h2>Quick Links</h2>
            <a href="https://www.linkedin.com/in/aydagonzalez15/">LinkedIn</a>
            <a href="https://github.com/aydagonzalez15">github</a>
            <div>
            <span class="material-symbols-outlined">mail</span> aydagonzalez15@gmail.com
            <div class="footer-bottom">
                &copy; 2024 Libros | AG
            </div>
        </div>




</footer>


</html>