</body>
<footer>

    <div class="footer-content">
        <div class="footer-section about">
            <h2>About StoryVerse</h2>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-section quick-links">
            <h2>Quick Links</h2>
            <ul style="list-style: none;">
                <li><a href="#">Home</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contact Us</h2>
            <ul>
                <li><i class="fas fa-envelope"></i> info@storyverse.com</li>
                <li><i class="fas fa-phone"></i> +1 123 456 7890</li>
                <li><i class="fas fa-map-marker-alt"></i> 999 Book Worm, Pagetown, USA</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 StoryVerse | AG
    </div>
</footer>


</html>