<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %> </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/stylesheets/glide.core.min.css">
  <link rel="stylesheet" href="/stylesheets/glide.theme.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <script defer src="/javascripts/window.js"></script>
  <script src="https://kit.fontawesome.com/5cdfa0382b.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
    <nav class="nav-header-container">
      <div class="search-bar-form-nav">
        <form action="/search" method="GET" autocomplete="off" name="title" class="search-bar">
          <input name="title"></input>
          <button type="submit">
            <span class="material-symbols-outlined">search</span>
          </button>
        </form>
      </div>
        <a href="/books/"><img class="book-img-nav" src="/images/books-img3.png"></a>
      <div class="OAuth-links-nav">

        <% if (!user) {%>
        <a href="/auth/google" class="login"> LOG IN &nbsp;<img src="https://i.imgur.com/FHjYyi0.png"> </a>
        <%} else { %>  
        <a href="/logout" class="logout"> LOG OUT </a>
      </div>
    <%}%>
    </nav>
    
    <nav class="nav-bar-header-links">
      <!-- <div class="nav-icons-div"> -->
      <a href="/"> HOM# PAGE </a> |
            <!-- <a href="/books/new">Add books</a> | -->

      <a href="/books/"> HOME </a> |

      <% if (user) { %>
      <a href="/users/"> MY LIBROS </a> |

      <% } else { %>
        <a href="/auth/google"> MY LIBROS </a> |
        <% } %>
      <a href="/search/"> SEARCH </a>


    
    
      <!-- </div> -->
    </nav>


  