<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %> </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/stylesheets/glide.core.min.css">
  <link rel="stylesheet" href="/stylesheets/glide.theme.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css'>


</head>

<body>
  <nav>
    <a href="/">Home page  </a> |
    <a href="/books/">  All books  </a> |
    <!-- <a href="/books/new">Add books</a> | -->
    <a href="/users/">  User's Saved books  </a> |
    <a href="/authors/">  By Author  </a> |


    <a href="/auth/google" class="login">  LOG IN &nbsp;<img src="https://i.imgur.com/FHjYyi0.png">  </a>
    <a href="/logout">  LOG OUT  </a>
  </nav>
