
<%- include('./partials/header') %>


<h1>Libros</h1>
<p>Welcome to Libros</p>

<div id="book">
    <div class="page">
      Page 1 Content
    </div>
    <div class="page">
      Page 2 Content
    </div>
    <!-- Add more pages as needed -->
  </div>

<img src="/images/books-img2.jpg" alt="Nothing">
<!-- <img class="book-img" style="width: 20%;" src="/images/books-img3.png" > -->


<%- include('./partials/footer') %>