
<%- include('./partials/header') %>
  <h1>Libros</h1>
  <h3>Welcome to Libros, your go-to destination for discovering new worlds through books. Explore our vast collection of fiction, non-fiction, and everything in between.</h3>
 

  
<%- include('./partials/footer') %>