
<%- include('./partials/header') %>

<h1>Libros</h1>
<p>Welcome to Libros</p>
<link rel="stylesheet" href="/stylesheets/book.style.css">
<main2>
<div class="book-trial">

    <!-- Previous Button -->
    <button id="prev-btn">
      <i class="fas fa-arrow-circle-left"></i>
  </button>


  <!-- Book -->
  <div id="book" class="book">
      <!-- Paper 1 -->
      <div id="p1" class="paper">
          <div class="front">
              <div id="f1" class="front-content">
                  <h1>WELCOME TO LIBROS</h1>
              </div>
          </div>
          <div class="back">
              <div id="b1" class="back-content">
                  <h1>Back 1</h1>
              </div>
          </div>
      </div>
      <!-- Paper 2 -->
      <div id="p2" class="paper">
          <div class="front">
              <div id="f2" class="front-content">
                  <h1>Front 2</h1>
              </div>
          </div>
          <div class="back">
              <div id="b2" class="back-content">
                  <h1>Back 2</h1>
              </div>
          </div>
      </div>
      <!-- Paper 3 -->
      <div id="p3" class="paper">
          <div class="front">
              <div id="f3" class="front-content">
                  <h1>Front 3</h1>
              </div>
          </div>
          <div class="back">
              <div id="b3" class="back-content">
                  <h1>Back 3</h1>
              </div>
          </div>
      </div>
  </div>

  <!-- Next Button -->
  <button id="next-btn">
      <i class="fas fa-arrow-circle-right"></i>
  </button>







</div>


</main2>
<img src="/images/books-img2.jpg" alt="Nothing">
<!-- <img class="book-img" style="width: 20%;" src="/images/books-img3.png" > -->


<%- include('./partials/footer') %>